<%- include('../../../partials/header'); %>
<%- include('../../../partials/navigation'); %>
<%- include('../../../partials/flash'); %>
 
<header class="masthead background_orange_color text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Black Matter</h1>
        <h2 class="masthead-subheading text-uppercase mb-0">3d Artist, Level Design, Programmer</h2>
    </div>
</header>

<div class="container">
    
    <div class="row text-orange">
        <div class="col-lg-12 portfolio-custom text-center">
            <p>Created for the Pirate Software gamejame with a focus on locking in a in-depth game design document early and collaborating as a team.</p>
        </div>
        
    </div>

    <div class="row text-orange">
        
        <div class="col-lg-12 portfolio-custom text-center">
            <h4 class="text-white">My Contributions</h4>
        </div>
        <div class="col-lg-12 portfolio-custom text-center">
            <ul>
                <li>Game design document  <a class="tiger-link" href="https://docs.google.com/document/d/1V_2AYGLiLBXeta0uFUBbeq2tsSVwQUl8yaAn4HBLLVQ/edit?usp=sharing">Link</a></li>
                <li>Game Design</li>
                <li>Game Feel</li>
                <li>3D Art/Enviroment Art</li>
                <li>Controllor support</li>
                <li>BP Bug fixes</li>
            </ul>
        </div>
        
        <div class="col-lg-12 portfolio-custom text-center">
            <h4 class="text-white">Media</h4>
        </div>

        <div class="col-lg-6 align-content-center portfolio-custom">
            <iframe frameborder="0" src="https://itch.io/embed/1896924?border_width=0&amp;bg_color=4ea3fe&amp;fg_color=000000&amp;link_color=fa5c5c&amp;border_color=ff48e5" width="206" height="165"><a href="https://tiger-frog-games.itch.io/that-one-time-i-was-a-magical-cupcake-fighting-a-wizard-baker">That One Time I was a magical cupcake fighting a wizard baker! by Tiger Frog Games</a></iframe>
        </div>
        
        <div class="col-lg-6 portfolio-custom text-center">
            <img src="https://imgur.com/mQErLeJ.gif" style="width: 100%; max-width: 100%; height: auto;">
        </div>
        
    </div>
    
</div>

<%- include('../../../partials/tooTopButton'); %>

<%- include('../../../partials/footer'); %>