<%- include('../../../partials/header'); %>
<%- include('../../../partials/navigation'); %>
<%- include('../../../partials/flash'); %>

<header class="masthead background_orange_color text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">That One Time I was a magical cupcake fighting a wizard baker!</h1>
    </div>
</header>

<div class="container">

    <div class="col-lg-12 portfolio-custom text-center">
        <h4 class="text-white">Solo Developer</h4>
    </div>
    
    <div class="row text-orange">
        <div class="col-lg-12 portfolio-custom text-center">
            <p>Created for the Pirate Software gamejame with a focus on locking in a in-depth game design document early.</p>
        </div>
        
    </div>

    <div class="row text-orange">
        
        <div class="col-lg-12 portfolio-custom text-center">
            <h4 class="text-white">Highlights</h4>
        </div>
        <div class="col-lg-12 portfolio-custom text-center">
            <li>Game design document  <a class="tiger-link" href="https://docs.google.com/document/d/1V_2AYGLiLBXeta0uFUBbeq2tsSVwQUl8yaAn4HBLLVQ/edit?usp=sharing">Link</a></li>
            <li>Top down Twin stick shooter</li>
            <li>Art/Effects</li>
            <li>Enemy AI</li>
            <li>Local-Multiplayer</li>
            <li>Mouse and keyboard and gamepad support</li>
        </div>
        
        <div class="col-lg-12 portfolio-custom text-center">
            <h4 class="text-white">Media</h4>
        </div>

        <div class="col-lg-6 align-content-center portfolio-custom">
            <iframe frameborder="0" src="https://itch.io/embed/1896924?border_width=0&amp;bg_color=4ea3fe&amp;fg_color=000000&amp;link_color=fa5c5c&amp;border_color=ff48e5" width="206" height="165"><a href="https://tiger-frog-games.itch.io/that-one-time-i-was-a-magical-cupcake-fighting-a-wizard-baker">That One Time I was a magical cupcake fighting a wizard baker! by Tiger Frog Games</a></iframe>
        </div>
        
        <div class="col-lg-6 portfolio-custom text-center">
            <img src="https://imgur.com/mQErLeJ.gif" style="width: 100%; max-width: 100%; height: auto;">
        </div>
        <div class="col-lg-6 portfolio-custom text-center">
            <p>My Role</p>
        </div>
        
    </div>
    
</div>

<%- include('../../../partials/tooTopButton'); %>

<%- include('../../../partials/footer'); %>