<%- include('../../../partials/header'); %>
<%- include('../../../partials/navigation'); %>
<%- include('../../../partials/flash'); %>

<header class="masthead background_orange_color text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Rolling in the Sheep!</h1>
    </div>
</header>

<div class="container">

    <div class="col-lg-12 portfolio-custom text-center">
        <h4 class="text-white">Programer and Game Designer</h4>
    </div>

    <div class="row text-orange">
        <div class="col-lg-12 portfolio-custom text-center">
            <p>Created for Buddy Up Jam: Winter 2022</p>
        </div>

    </div>

    <div class="row text-orange">

        <div class="col-lg-12 portfolio-custom text-center">
            <h4 class="text-white">Highlights</h4>
        </div>
        <div class="col-lg-12 portfolio-custom text-center">
            <li>Sheep pushing Mechanics</li>
            <li>Time System</li>
            <li>Sheep AI</li>
            <li>Particle Effects</li>
            <li>Mouse and keyboard and gamepad support</li>
        </div>

        <div class="col-lg-12 portfolio-custom text-center">
            <h4 class="text-white">Media</h4>
        </div>

        <div class="col-lg-6 align-content-center portfolio-custom">
            <iframe frameborder="0" src="https://itch.io/embed/1409732?bg_color=3d5e44&amp;fg_color=ffffff&amp;link_color=f2d488&amp;border_color=bebebe" width="208" height="167"><a href="https://crossedkiller.itch.io/rolling-in-the-sheep">Rolling in the Sheep by Crossedkiller, pockyratgg, midorifield, Sharktea, Tiger Frog Games, ArchivistOwl</a></iframe>
        </div>

        <div class="col-lg-6 portfolio-custom text-center">
            <img src="https://imgur.com/dEmOiER.gif" style="width: 100%; max-width: 100%; height: auto;">
        </div>

    </div>

</div>

<%- include('../../../partials/tooTopButton'); %>

<%- include('../../../partials/footer'); %>