<%- include('../../../partials/header'); %>
<%- include('../../../partials/navigation'); %>
<%- include('../../../partials/flash'); %>

<div class="container">
    <!-- Portfolio Section Heading-->
    <!-- Icon Divider-->
    <div class="divider-custom">
     
    </div>
    <!-- Portfolio Grid Item-->
    <div class="row portfolio-text">

        <div class="divider-custom">
            <div class="divider-custom-line"></div>
        </div>

        <div class="col-lg-8 mx-auto portfolio-custom">
            <div class="container d-flex align-items-center flex-column">
                Rollinmg
            </div>
        </div>
        
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
        </div>

        <div class="col-lg-8 mx-auto portfolio-custom">
            <div class="container d-flex align-items-center flex-column">
                
            </div>
        </div>
    </div>

</div>

<%- include('../../../partials/tooTopButton'); %>

<%- include('../../../partials/footer'); %>