<%- include('../../../partials/header'); %>
<%- include('../../../partials/navigation'); %>
<%- include('../../../partials/flash'); %>

<header class="masthead background_orange_color text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">The Sorrow of Silk</h1>
    </div>
</header>

<div class="container">

    <div class="col-lg-12 portfolio-custom text-center">
        <h4 class="text-white">Game Designer</h4>
    </div>

    <div class="row text-orange">
        <div class="col-lg-12 portfolio-custom text-center">
            <p>Created for the Buddy up Winter Jam: 2023, placing third overall. My role was the game designer where I focused on mechanics, cohesion, and scope by creating a game design document and focusing the team towards towards key parts.</p>
        </div>

    </div>

    <div class="row text-orange">

        <div class="col-lg-12 portfolio-custom text-center">
            <h4 class="text-white">Highlights</h4>
        </div>
        <div class="col-lg-12 portfolio-custom text-center">
            <li>Game design</li>
            <li>Level design</li>
            <li>Game design Document</li>
            <li>Scope Management</li>
            <li>Technical guidance</li>
        </div>

        <div class="col-lg-12 portfolio-custom text-center">
            <h4 class="text-white">Media</h4>
        </div>

        <div class="col-lg-12 align-content-center portfolio-custom">
            <iframe frameborder="0" src="https://itch.io/embed/1944433?bg_color=0c0c0c&amp;fg_color=b0b0b0&amp;link_color=b71212&amp;border_color=313459" width="208" height="167"><a href="https://tiger-frog-games.itch.io/the-sorrow-of-silk">The Sorrow of Silk by Tiger Frog Games, MilesAndersonArt, TwoFish, MetaArcade</a></iframe>
        </div>

        <div class="col-lg-6 portfolio-custom text-center">
           
        </div>

    </div>

</div>

<%- include('../../../partials/tooTopButton'); %>

<%- include('../../../partials/footer'); %>