<%- include('partials/header'); %>
<%- include('partials/navigation'); %>
<%- include('partials/flash'); %>

<h1>my tech blog will go here eventually</h1>

<%- include('partials/tooTopButton'); %>

<%- include('partials/footer'); %>
